- title("Short drop.sc tutorial")

.box.static-container
  %h4.first Short drop.sc tutorial
  
  %p To upload a replay, click on the Upload button in the upper-right corner. You don't need to "login" or anything like that.
  %p If you are using Google Chrome, Mozilla Firefox or Safari (Mac Os X), then you can drag and drop replays from your folder! Simply select the files in the directory and start dragging them into the browser window. <a href="http://www.youtube.com/watch?v=ofygTB7SZX8#t=0m20s" target="_blank">See how it's done!</a>
  %p To upload a replay pack, zip the replays and upload the .zip file. We will automatically analyze the contents of the archive.
  To keep a replay or a replay pack private, check the <i>private</i> checkbox before uploading.