.embed {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

.embed .vs {
	color: #888;
}

.embed a:hover, .embed a:active, .embed a:visited, .embed a:link {
	text-decoration: none;
}

